.input-block {
    display: grid;
    grid-template-rows: 1.2rem 1fr 1.2rem;
}
.input-block input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-input-border);
    outline: none;
    background-color: var(--color-input-background);
    padding: 12px;
}
input.valide {
    background-color: #e8ffc6;
    outline-color: #adff2f;
}
input.invalide {
    background-color: #ffd6d6;
    outline-color: #ff0000;
}
.invalide-span {
    color: #ff0000;
}